{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="relative h-full w-full bg-black/20 flex items-center 
    justify-center" >
    <div class="">
      <div class="text-center">
        <h1 class="text-4xl md:text-5xl text-gray-200 font-bold mb-4">هوشمندسازی خانه با تکنولوژی روز</h1>
        <p class="text-lg text-gray-100 md:text-xl mb-6">فروش تجهیزات و اجرای پروژه‌های هوشمندسازی</p>
   
      </div>
    </div>
    <button class="bg-rose-600 text-white px-4 py-2 rounded" >شروع کن</button>
  </div>

{%endblock%}